body {
	background-image: url('../images/body-bg.jpeg');
	margin: 0;
}
h1, h2, h3, h4, a, p {
	font-family: Lato, Arial;
}
li{
	list-style-type: none;
}
h1{
	font-size:34px;
}
h2{
	font-size: 
}
h3{
	font-size: 
}
p{
	font-size: 18px;
}
header{
	background:white;
	height: 100px;
	padding: 30px 15px;
}
.logo{
	float: left;
}
.logo h1{
	color:red;
	font-weight: normal;
}

nav{
	float: right;
}
.input{
	display: inline-flex;
	border-top: 0px;
	border-right: 0px;
	border-left: 0px;
}
.lang{
	display: flex;
}
.lang li{
	padding:0 5px;
}
.menu ul{
	display:inline-block;

}
.menu li{
	float: left;
	padding: 0 5px;
}
#main{
	background-image:url('images/body-bg.jpeg');
	text-align: center;
	padding:;
	width: 100%;
}
.frontbox{
	width: 80%;
	margin-left:10%;
}
.box{
	float:left;
	width:20%;
	height: 300px;
	padding: 20px;
	background: url('images/post-1.jpeg');
}
article{
	clear:both;
	width: 80%;
	margin-left:10%;
}