body {
	background-image: url('images/body-bg.jpg');
	margin: 0;
}
h1, h2, h3, h4, a, p, li {
	font-family: Lato, Arial;
}
li{
	list-style-type: none;
	font-size: 18px;
}
h1{
	font-size:34px;
}
h2{
	font-size: 
}
h3{
	font-size: 
}
p{
	font-size: 18px;
}
header{
	background:white;
	height: 100px;
	padding: 30px 15px;
}
.logo{
	float: left;
}
.logo h1{
	color:red;
	font-weight: normal;
	margin-bottom: 0px;
}
.logo p{
	margin-top: 0px;
}

nav{
	float: right;
}
.input{
	display: inline-flex;
	border: 0px;
}
.search{
	border-bottom:1px solid grey;
}
.lang{
	display: flex;
}
.lang li{
	padding:0 5px;
}
.menu ul{
	display:inline-block;

}
.menu li{
	float: left;
	padding: 0 5px;
}
#main{
	text-align: center;
	padding:;
	width: 100%;
}
.frontbox{
	width:96%;
	margin-left:2%;
}
.box{
	position: relative;
	float: left;
	width: 19%;
	height: 300px;
	margin-top: 40px;
	margin-left: 3%;
	margin-right: 3%;
}
.box p{
	float: right;
	font-size: 14px;
	font-style: italic;
}
.box-image{
	width: 100%;
	height: 300px;
	overflow: hidden;
	position:relative;
}
.box-image img{
	height: 300px;
	width: 100%;
	left:0px;
}
.box-image h1{
	font-family: Montserrat Alternates, Arial;
	font-weight: bold;
	position: absolute;
	overflow: hidden;
	max-width: 90%;
	max-height: 250px;
	margin: 15px;
	top: 0%;
}
article{
	clear:both;
	width: 96%;
	padding-top: 40px;
	margin-left:2%;
	margin-bottom: 13%;
}
footer{
	display: inline-flex;
}